.payment {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    border-radius: 10px;
    max-width: 880px;
    width: 100%;
    border-style: outset;
    margin-left: 30px;
    .payment-user {}
    .payment-online {
        .payment-tatol {
            display: flex;
            justify-content: space-around;
        }
        .payment-button {
            width: 200px;
            background-color: aqua;
            height: 70px;
        }
    }
}