
Button{ 
   
  padding: 0px 0.1px;
  text-align: end;
  background-color: white;
  .icon{
    margin-top: 0.5px;
        font-size: 15px;  
        color: white;

  }
  .coloricon{
    color: black;

  }
}   