.checkradio{
  margin-left: 20px;
Button{ 
   
  padding: 0px 0.1px;
  text-align: end;
  background-color: white;
  margin-right: 5px;
  .icon{
    margin-top: 0.5px;
        font-size: 15px;  
        color: white;

  }
  .coloricon{
    color: black;

  }
} }  