
 .container{
  display: flex;  
  max-width: 1700px;
      .row{
            display: flex; 
            flex-wrap: wrap;
            margin-left: 50px; 
            
        .col{
            margin: 20px;
          }
        }
 }
